@use "../shared_files/mixin" as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

html,
body {
    height: 100%;
}

body {
    .body2 {

        .header {
            margin-bottom: calc(10px + (190 - 10) * ((100vw - 250px) / (1600 - 250)));

            .menu {
                .menu__item {
                    .contacts {
                        color: #6E9C9F;
                    }
                }
            }
        }

        .footer {
            .container {
                .container1 {
                    .menu {
                        .menu__item {
                            .contacts {
                                color: #6E9C9F;
                            }
                        }
                    }
                }
            }
        }

        .section1 {
            width: 100%;
            margin-bottom: calc(10px + (214 - 10) * ((100vw - 250px) / (1600 - 250)));

            .container {
                @include sc_width(300, 1110, 320, 1600);
                margin: 0px auto;

                .text1 {
                    @include sc_font_size(20, 55, 250, 1600);
                    margin-bottom: 26px;
                }

                .text2 {
                    font-size: 17px;

                    .text2__span1 {
                        font-size: 17px;
                        color: rgba(144, 144, 144, 1);
                    }

                }
            }
        }

        .section2 {
            width: 100%;
            margin-bottom: calc(30px + (130 - 30) * ((100vw - 250px) / (1600 - 250)));

            .container {
                @include sc_width(300, 1110, 320, 1600);
                margin: 0px auto;
                display: flex;
                flex-direction: column;
                row-gap: calc(20px + (130 - 20) * ((100vw - 250px) / (1600 - 250)));

                .text1 {
                    display: flex;

                    .content:nth-child(1) {
                        margin: 0px calc(10px + (111 - 10) * ((100vw - 250px) / (1600 - 250))) 0px 0px;
                    }

                    .content:nth-child(2) {
                        margin: 0px calc(10px + (98 - 10) * ((100vw - 250px) / (1600 - 250))) 0px 0px;
                    }

                    .content {

                        p {
                            font-size: 17px;
                            line-height: 23.8px;
                        }

                        .content__p1 {
                            margin-bottom: 19px;
                        }
                    }
                }

                .text2 {
                    display: flex;
                    flex-direction: column;
                    row-gap: calc(10px + (62 - 10) * ((100vw - 250px) / (1600 - 250)));

                    .title {
                        @include sc_font_size(20, 25, 250, 1600);
                    }

                    .form {
                        display: flex;
                        flex-direction: column;
                        row-gap: 32px;
                        width: 443px;

                        div {
                            padding: 0px 0px 16px 0px;
                            border-bottom: 1px solid black;
                            max-width: 350px;

                            input{
                                width: 100%;
                            }
                        }

                        div > .input_message{
                            max-width: 350px;
                            max-height: 134px;
                        }

                        .send {
                            background: rgba(110, 156, 159, 1);
                            color: white;
                            @include sc_padding(10, 20,
                                20, 50,
                                10, 20,
                                20, 50,
                                250, 1600);
                            width: 189px;
                            height: 68px;
                            transition: all 0.5s;

                            &:hover{
                                background: rgba(80, 148, 152, 1);
                            }
                        }

                        .message_send {
                            margin-top: calc(10px + (62 - 10) * ((100vw - 250px) / (1600 - 250)));
                            background: rgba(241, 234, 220, 1);
                            @include sc_padding(10, 30,
                                20, 76,
                                10, 30,
                                20, 76,
                                250,1600 );
                            width: 100%;
                            transition: all 0.5s;
                            opacity: 0;
                            display: none;

                            &._active{
                                opacity: 1;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}