@use "../shared_files/mixin" as m;

@media (max-width: 900px) {
    body .body2 .section2 .container .content1 {
        display: none;
    }

    body .body2 .section2 .container .content2 .content {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

        .product {

            .product__p1 {
                text-align: center;

                .span0 {
                    display: contents;
                }
            }
        }

        .text1 {
            text-align: center;

            .span0 {
                display: block;
            }
        }



        .text2 {
            text-align: center;

            .span0 {
                display: block;
            }
        }
    }
}

@media (max-width: 650px) {
    body .body2 .section2 .container .content2 .content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1r 1fr;
        column-gap: 0px;
        row-gap: 20px;
        grid-template-areas: "c1 c2" "c1 c3" "c1 c4" "c1 c5";

        .product {

            .product__p1 {
                display: none;

                .span0 {
                    display: contents;
                }
            }
        }

        .text0 {
            display: contents;
        }

        .text1 {

            .span0 {
                display: contents;
            }
        }

        .output_number {
            justify-content: center;
        }

        .text2 {

            .span0 {
                display: contents;
            }
        }
    }

    body .body2 .section2 .container .order .div_button_order {
        column-gap: 0px;
        height: auto;
        flex-direction: column;
    }
}

@media (max-width:330px) {
    body .body2 .section2 .container {
        @include m.sc_width(203, 268, 250, 330);
    }
}

@media (max-width: 500px) {
    body .body2 .section2 .container .content2 .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1r 1fr 1fr;
        grid-template-areas: "c1" "c2" "c3" "c4" "c5";

        .text1 {
            text-align: left;
        }

        .output_number {
            justify-content: start;
        }

        .text2 {
            text-align: start;
        }
    }
}

@media (min-width: 1600px) {
    body {
        .body2 {
            .section1 {
                margin-bottom: 214px;

                .container {
                    width: 1110px;

                    .text1 {
                        font-size: 55px;
                    }
                }
            }

            .section2 {
                margin-bottom: 130px;

                .container {
                    width: 1110px;

                    .content2 {
                        margin-bottom: 72px;

                        .content {
                            margin: 49px 0px 0px 0px;

                            .product {
                                column-gap: 36px;

                            }
                        }
                    }

                    .update_basket {
                        padding: 20px 50px 20px 50px;
                    }

                    .order {
                        margin-top: 88px;

                        .div_button_order {

                            .total {
                                padding: 20px 50px 20px 50px;
                            }

                            .order {
                                padding: 20px 50px 20px 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}