@media (max-width: 490px) {
  body._active {
    overflow: hidden;
  }
  .container .header .nav {
    position: absolute;
    left: -100%;
    top: calc(40px + 40 * (100vw - 320px) / 1120);
    width: 100%;
    height: calc(100vh - (40px + 40 * (100vw - 320px) / 1120));
    background-color: white;
  }
  .container .header .nav .nav_list {
    height: 100%;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .container .header .nav .nav_list .search,
  .container .header .nav .nav_list .shop {
    display: block;
  }
  .container .header .nav .nav_list .nav_items,
  .container .header .nav .nav_list .search,
  .container .header .nav .nav_list .shop {
    margin: 5px 0px 5px 0px;
    text-align: start;
  }
  .container .header .nav .nav_list .nav_items a,
  .container .header .nav .nav_list .search a,
  .container .header .nav .nav_list .shop a {
    font-size: 20px;
  }
  .container .header .nav._active {
    left: 0%;
  }
  .container .header .search_shop_menu .btn_search,
  .container .header .search_shop_menu .btn_shop {
    display: none;
  }
  .container .header .search_shop_menu .btn_menu {
    display: block;
  }
  .container .header .search_shop_menu .btn_menu .menu {
    display: block;
  }
}
@media (max-width: 427px) {
  .container .section_1 {
    flex-direction: column;
  }
}
@media (max-width: 1088px) {
  .section_2 .category .category_1 .watch .watch_content {
    flex-direction: column;
  }
  .section_2 .category .category_1 .watch .watch_content .watch_content_text {
    align-self: end;
  }
}
@media (max-width: 700px) {
  .container .section_2 .category .category_1 {
    row-gap: calc(50px + 22 * (100vw - 320px) / 1046);
  }
  .container .section_2 .category .category_1 .laptops {
    width: calc(196px + 156 * (100vw - 425px) / 275);
    height: calc(215px + 66 * (100vw - 425px) / 275);
  }
  .container .section_2 .category .category_1 .watch {
    width: calc(196px + 156 * (100vw - 425px) / 275);
    height: calc(200px + 66 * (100vw - 425px) / 275);
  }
  .container .section_2 .category .category_2 {
    flex-direction: column;
    column-gap: 0px;
    row-gap: 16px;
  }
  .container .section_2 .category .category_2 .phones {
    width: calc(190px + 90 * (100vw - 425px) / 275);
    height: calc(303px + 77 * (100vw - 425px) / 275);
  }
  .container .section_2 .category .category_2 .phones .phone_content {
    height: calc(280px + 200 * (100vw - 425px) / 941);
  }
  .container .section_2 .category .category_2 .tablet {
    width: calc(190px + 90 * (100vw - 425px) / 275);
    height: calc(333px + 77 * (100vw - 425px) / 275);
  }
  .container .section_2 .category .category_2 .tablet .tablet_content {
    height: calc(280px + 200 * (100vw - 425px) / 941);
  }
}
@media (max-width: 425px) {
  .container .section_2 .category {
    flex-direction: column;
    row-gap: 10px;
  }
  .container .section_2 .category .category_1 {
    row-gap: calc(10px + 40 * (100vw - 320px) / 1046);
  }
  .container .section_2 .category .category_1 .laptops {
    width: 100%;
    height: calc(233px + 64 * (100vw - 425px) / 275);
  }
  .container .section_2 .category .category_1 .laptops .laptop_content .image_laptop {
    width: 66.1%;
  }
  .container .section_2 .category .category_1 .watch {
    width: 100%;
    height: calc(100px + 32 * (100vw - 425px) / 275);
  }
  .container .section_2 .category .category_1 .watch .watch_content {
    flex-direction: row;
  }
  .container .section_2 .category .category_2 {
    flex-direction: column;
    column-gap: 0px;
    row-gap: 16px;
  }
  .container .section_2 .category .category_2 .phones {
    width: 100%;
    height: calc(181px + 31 * (100vw - 320px) / 105);
  }
  .container .section_2 .category .category_2 .phones .phone_content {
    display: flex;
    flex-direction: row-reverse;
    height: 90%;
  }
  .container .section_2 .category .category_2 .phones .phone_content .images_phones {
    width: calc(50% - 16px);
  }
  .container .section_2 .category .category_2 .tablet {
    width: 100%;
    height: 439px;
  }
  .container .section_2 .category .category_2 .tablet .tablet_content {
    height: 80%;
  }
  .container .section_2 .category .category_2 .tablet .tablet_content .images_tablet {
    height: 338px;
  }
}
@media (max-width: 920px) {
  .container .section_3 .product {
    flex-direction: column;
    align-items: center;
  }
  .container .section_3 .product .product_content_1 {
    margin: 0px 0px 20px 0px;
  }
  .container .section_3 .product .product_content_1 .MacBook_Pro_13 {
    width: calc(230px + 72.5 * (100vw - 920px) / 495);
  }
  .container .section_3 .product .product_content_1 .Smart_Galaxy_Watch_3 {
    width: calc(230px + 72.5 * (100vw - 920px) / 495);
  }
  .container .section_3 .product .product_content_2 {
    margin: 0px 0px 20px 0px;
  }
  .container .section_3 .product .product_content_2 .MacBook_Air_M1 {
    width: calc(230px + 72.5 * (100vw - 920px) / 495);
  }
  .container .section_3 .product .product_content_2 .iPad {
    width: calc(230px + 72.5 * (100vw - 920px) / 495);
  }
}
@media (max-width: 425px) {
  .container .section_3 .product {
    flex-direction: column;
  }
  .container .section_3 .product .product_content_1 {
    flex-direction: column;
    align-items: center;
  }
  .container .section_3 .product .product_content_1 .MacBook_Pro_13 {
    width: calc(265px + 37.5 * (100vw - 425px) / 105);
    margin: 0px 0px 20px 0px;
  }
  .container .section_3 .product .product_content_1 .Smart_Galaxy_Watch_3 {
    width: calc(265px + 37.5 * (100vw - 425px) / 105);
  }
  .container .section_3 .product .product_content_2 {
    flex-direction: column;
    align-items: center;
  }
  .container .section_3 .product .product_content_2 .MacBook_Air_M1 {
    width: calc(265px + 37.5 * (100vw - 425px) / 105);
    margin: 0px 0px 20px 0px;
  }
  .container .section_3 .product .product_content_2 .iPad {
    width: calc(265px + 37.5 * (100vw - 425px) / 105);
  }
}
@media (max-width: 490px) {
  .container .section_4 .View_best {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .container .section_4 .View_best .View_best_items_1 {
    width: calc(265px + 148 * (100vw - 320px) / 170);
    height: calc(330px + 90 * (100vw - 320px) / 170);
  }
  .container .section_4 .View_best .View_best_items_2 {
    width: calc(265px + 148 * (100vw - 320px) / 170);
    height: calc(330px + 90 * (100vw - 320px) / 170);
  }
  .container .section_4 .View_best .View_best_items_3 {
    width: calc(265px + 148 * (100vw - 320px) / 170);
    height: calc(330px + 90 * (100vw - 320px) / 170);
  }
}
@media (max-width: 700px) {
  .container .section_5 .content {
    column-gap: 0px;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .container .section_5 .content .image {
    width: calc(248px + 152 * (100vw - 280px) / 420);
  }
  .container .section_5 .content .content_text_1 {
    width: calc(248px + 152 * (100vw - 280px) / 420);
    padding: 0px;
  }
}
@media (max-width: 700px) {
  .container .section_6 .section_6_search {
    width: 100%;
  }
  .container .section_6 .section_6_search_product {
    width: 100%;
  }
}
@media (max-width: 545px) {
  .container .section_6 .section_6_search_product {
    flex-direction: row;
    justify-content: space-around;
  }
  .container .section_6 .section_6_search_product .search_product_1 .content,
  .container .section_6 .section_6_search_product .search_product_2 .content {
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (max-width: 716px) {
  .container .footer .footer_content_content_1 .content {
    column-gap: 0px;
    row-gap: 20px;
    flex-direction: column;
    width: 483px;
    align-items: center;
  }
  .container .footer .footer_content_content_1 .content div {
    width: 100%;
  }
  .container .footer .footer_content_content_1 .content div div:nth-child(1) {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 0px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    text-align: center;
  }
  .container .footer .footer_content_content_1 .content div div:nth-child(1) .content_1_progect_text_1 {
    margin: 0px;
  }
  .container .footer .footer_content_content_1 .content div div:nth-child(2) {
    border-radius: 10px;
    background-color: white;
    margin: 10px 0px 0px 0px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    text-align: center;
    transition: 0.3s;
    height: 0px;
    overflow: hidden;
    padding: 0px;
  }
  .container .footer .footer_content_content_1 .content div div:nth-child(2)._active {
    height: 150.53px;
    padding: 10px 10px 0px 10px;
  }
  .container .footer .footer_content_content_1 .content div div:nth-child(2)._active_company {
    height: 80.53px;
    padding: 10px 10px 0px 10px;
  }
}
@media (max-width: 490px) {
  .container .footer .footer_content_content_1 {
    flex-direction: column;
    row-gap: 20px;
  }
  .container .footer .footer_content_content_1 .content {
    width: 100%;
  }
  .container .footer .footer_content_content_2 {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1088px) {
  .container {
    width: 1088px;
  }
  .container .header {
    height: 80px;
    margin: 0px 40px;
  }
  .container .header .logo {
    width: 170px;
  }
  .container .header .nav .nav_list .nav_items,
  .container .header .nav .nav_list .search,
  .container .header .nav .nav_list .shop {
    margin: 0px 20px 0px 0px;
    padding: 5px 10px 5px 10px;
  }
  .container .section_1 {
    margin: 28px 40px;
    height: 550px;
  }
  .container .section_1 .title .text {
    top: 145px;
    left: 56px;
  }
  .container .section_1 .title .text .text_items_1 {
    font-size: 58px;
    line-height: 70px;
  }
  .container .section_1 .title .text .text_items_2 {
    margin: 18px 0px 30px 0px;
  }
  .container .section_1 .title .text .text_items_3 {
    width: 170px;
    height: 50px;
    border-radius: 200px;
  }
  .container .section_1 .image .image_items {
    width: 550px;
    height: 540px;
  }
  .container .section_2 {
    margin: 55px 40px;
  }
  .container .section_2 .title .text_2 {
    width: 628px;
  }
  .container .section_2 .category {
    column-gap: 16px;
    margin: 56px 0px 0px 0px;
  }
  .container .section_2 .category .category_1 {
    row-gap: 72px;
  }
  .container .section_2 .category .category_1 .laptops {
    width: 448px;
    height: 472px;
  }
  .container .section_2 .category .category_1 .laptops .laptop_content .text_2 {
    font-size: 32px;
    line-height: 38px;
  }
  .container .section_2 .category .category_1 .watch {
    width: 448px;
  }
  .container .section_2 .category .category_1 .watch .watch_content {
    flex-direction: column;
  }
  .container .section_2 .category .category_1 .watch .watch_content .image_watch {
    width: 381px;
  }
  .container .section_2 .category .category_1 .watch .watch_content .watch_content_text {
    align-self: end;
  }
  .container .section_2 .category .category_1 .watch .watch_content .watch_content_text .text_2,
  .container .section_2 .category .category_1 .watch .watch_content .watch_content_text .text_3 {
    font-size: 32px;
    line-height: 38px;
  }
  .container .section_2 .category .category_2 .phones {
    width: 261px;
    height: 792px;
  }
  .container .section_2 .category .category_2 .phones .phone_content {
    height: 504px;
  }
  .container .section_2 .category .category_2 .phones .phone_content .images_phones {
    height: 367px;
  }
  .container .section_2 .category .category_2 .phones .phone_content .text_1 {
    margin: 42px 0px 0px 0px;
  }
  .container .section_2 .category .category_2 .phones .phone_content .text_2 {
    font-size: 32px;
    line-height: 38px;
  }
  .container .section_2 .category .category_2 .phones .phone_content .text_3 {
    font-size: 32px;
    line-height: 38px;
  }
  .container .section_2 .category .category_2 .tablet {
    width: 261px;
    height: 792px;
  }
  .container .section_2 .category .category_2 .tablet .tablet_content {
    height: 561px;
  }
  .container .section_2 .category .category_2 .tablet .tablet_content .text_3 {
    margin: 0px 0px 42px 0px;
    font-size: 32px;
    line-height: 38px;
  }
  .container .section_2 .category .category_2 .tablet .tablet_content .text_2 {
    font-size: 32px;
    line-height: 38px;
  }
  .container .section_2 .category .category_2 .tablet .tablet_content .images_tablet {
    height: 561px;
  }
  .container .section_3 {
    margin: 58px 40px 0px;
  }
  .container .section_3 .text_1 {
    margin: 19px 0px 0px 0px;
  }
  .container .section_3 .product {
    margin: 31px 0px 0px 0px;
    column-gap: 32.3px;
  }
  .container .section_3 .product .product_content_1 {
    column-gap: 32.3px;
  }
  .container .section_3 .product .product_content_1 .MacBook_Pro_13 {
    width: 222.5px;
  }
  .container .section_3 .product .product_content_1 .MacBook_Pro_13 .content_text .text_1 {
    font-size: 22px;
    line-height: 27.5px;
  }
  .container .section_3 .product .product_content_1 .MacBook_Pro_13 .content_text .text_2 {
    color: rgb(75, 75, 75);
  }
  .container .section_3 .product .product_content_1 .MacBook_Pro_13 .content_text .text_3 {
    font-size: 18px;
    line-height: 21.6px;
  }
  .container .section_3 .product .product_content_1 .Smart_Galaxy_Watch_3 {
    width: 222.5px;
  }
  .container .section_3 .product .product_content_1 .Smart_Galaxy_Watch_3 .content_text .text_1 {
    font-size: 22px;
    line-height: 27.5px;
  }
  .container .section_3 .product .product_content_1 .Smart_Galaxy_Watch_3 .content_text .text_3 {
    font-size: 18px;
    line-height: 21.6px;
  }
  .container .section_3 .product .product_content_2 {
    column-gap: 32.3px;
  }
  .container .section_3 .product .product_content_2 .MacBook_Air_M1 {
    width: 222.5px;
  }
  .container .section_3 .product .product_content_2 .MacBook_Air_M1 .content_text .text_1 {
    font-size: 22px;
    line-height: 27.5px;
  }
  .container .section_3 .product .product_content_2 .MacBook_Air_M1 .content_text .text_3 {
    font-size: 18px;
    line-height: 21.6px;
  }
  .container .section_3 .product .product_content_2 .iPad {
    width: 222.5px;
  }
  .container .section_3 .product .product_content_2 .iPad .content_text .text_1 {
    font-size: 22px;
    line-height: 27.5px;
  }
  .container .section_3 .product .product_content_2 .iPad .content_text .text_3 {
    font-size: 18px;
    line-height: 21.6px;
  }
  .container .section_4 {
    margin: 28px 40px 0px 40px;
  }
  .container .section_4 .View_best {
    margin: 56px 0px 0px 0px;
    column-gap: 28px;
  }
  .container .section_4 .View_best .View_best_items_1 {
    height: 453px;
  }
  .container .section_4 .View_best .View_best_items_1 .text_2 {
    font-size: 28px;
    line-height: 35px;
  }
  .container .section_4 .View_best .View_best_items_1 .text_3 {
    width: 190px;
    height: 50px;
    border-radius: 200px;
  }
  .container .section_4 .View_best .View_best_items_2 {
    height: 453px;
  }
  .container .section_4 .View_best .View_best_items_2 .text_2 {
    font-size: 28px;
    line-height: 35px;
  }
  .container .section_4 .View_best .View_best_items_2 .text_3 {
    width: 190px;
    height: 50px;
    border-radius: 200px;
  }
  .container .section_4 .View_best .View_best_items_3 {
    height: 453px;
  }
  .container .section_4 .View_best .View_best_items_3 .text_2 {
    font-size: 28px;
    line-height: 35px;
  }
  .container .section_4 .View_best .View_best_items_3 .text_3 {
    width: 190px;
    height: 50px;
    border-radius: 200px;
  }
  .container .section_5 {
    margin: 0px 40px;
  }
  .container .section_5 .content .image {
    width: 620px;
  }
  .container .section_5 .content .content_text_1 .text_items_1,
  .container .section_5 .content .content_text_1 .text_items_2,
  .container .section_5 .content .content_text_1 .text_items_3,
  .container .section_5 .content .content_text_1 .text_items_4 {
    font-size: 24px;
    line-height: 30px;
  }
  .container .section_5 .content .content_text_1 .text_items_1 {
    margin: 14px 0px 23px 0px;
  }
  .container .section_5 .content .content_text_1 .text_items_2,
  .container .section_5 .content .content_text_1 .text_items_3 {
    margin: 23px 0px;
  }
  .container .section_5 .content .content_text_1 .text_items_4 {
    margin: 23px 0px 14px 0px;
  }
  .container .section_5 .content_text_2 {
    margin: 74px 0px 0px 0px;
  }
  .container .section_5 .content_text_2 .content_text_2_text {
    font-size: 24px;
    line-height: 28.8px;
  }
  .container .section_6 {
    margin: 0px 40px 0px;
  }
  .container .section_6 .section_6_search .input_search {
    width: 552px;
  }
  .container .section_6 .section_6_input_email {
    width: 935px;
  }
  .container .section_6 .section_6_input_email .image {
    width: 233px;
  }
  .container .section_6 .section_6_input_email .section_6_input_email_input {
    width: 400px;
  }
  .container .section_6 .section_6_input_email .section_6_input_email_input .input_text {
    width: 247px;
  }
  .container .footer .footer_content_content_1 {
    margin: 19px 40px;
  }
  .container .footer .footer_content_content_1 .content_1_logo {
    width: 422px;
  }
  .container .footer .footer_content_content_1 .content {
    column-gap: 28px;
  }
  .container .footer .footer_content_content_1 .content div {
    width: 197px;
  }
  .container .footer .footer_content_content_1 .content div div:nth-child(1) {
    font-size: 22px;
    line-height: 27.5px;
  }
  .container .footer .footer_content_content_1 .content div:nth-child(4) {
    width: auto;
  }
  .container .footer .footer_content_content_1 .content div:nth-child(4) div {
    width: 100%;
  }
  .container .footer .footer_content_content_2 {
    margin: 64px 40px 0px 40px;
  }
}